<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [1]:
# write your answer here

# declare and Define a string variable with sample text
my_str = '2022_Fall'

# calculate and Print the length of a string using len predefined method
str_len = len(my_str)
print(str_len)

9

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [2]:
# write your answer here
# declare, define a string variable with sample text and a dictionary empty variable
my_str = 'google.com'
response = {}

# using a for loop count a character occurance in a given string and push the same object into dictionary
for char in my_str:
    response[char] = my_str.count(char)

# print the response
print(response)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [9]:
# write your answer here
# define a function to calculate the sum of list items

def sum_of_items(my_list):
    response = 0
    i = 0
    while i < len(my_list):
        response += my_list[i]
        i += 1
        
    return response

# print the response
print('sum of list items with valid data: ', sum_of_items([9, 8, 7]))
print('sum of list items with empty list:', sum_of_items([]))

sum of list items with valid data:  24
sum of list items with empty list: 0

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta$t'

In [10]:
# write your answer here
# define a sample string, assign the first character to a variable, replace the characters then concatenate the value
my_str = 'restart'
first_char = my_str[0]
my_str = my_str.replace(first_char, '$')
my_str = first_char + my_str[1:]

print(my_str)

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [15]:
# write your answer here

def calculation(a, b):
    if(b == 0):
        return 'divisor should not be a zero value.'
    return 3.14*(1+(a/b)**3)

# print the response with valid data passed
print(calculation(1,5))
# print the response with invalid data passed
print(calculation(1,0))

3.16512
divider should not be a zero value.

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [16]:
# write your answer here
# sample dictionaries defined and declared 
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

# merge the given dictionaries and print the result
result = {**dic1, **dic2, **dic3}
print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [17]:
# write your answer here
# declare and define a tuple with sample data
my_tuple = (12, 13, 'abc', '0.8')

# print the response
print(12 in my_tuple)
print('xyz' in my_tuple)

True
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [18]:
# write your answer here
my_set = {1, 2, 10}

# print the max and min values of a given set
print('Max value :', max(my_set))
print('Min value :', min(my_set))

Max value : 10
Min value : 1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [33]:
# write your answer here
# define a function which returns an array with sub groups with min of 4 items and max of 6 items each
def devide_sub_groups(studnet_list):
    response = []
    if len(studnet_list) < 4:
        return 'Input data is not valid to divide into sub groups as the base criteria is minimum 4 items should be available in the array'
    else:
        while len(studnet_list) != 0:
            if len(studnet_list) <= 6 & len(studnet_list) >= 4:
                response.append(studnet_list[0:len(studnet_list)])
                studnet_list = []
            elif len(studnet_list) == 11:
                response.append(studnet_list[0:5])
                for i in range(5):
                    studnet_list.pop(0)
            else:
                response.append(studnet_list[0:4])
                for i in range(4):
                    studnet_list.pop(0)
                    
        return response
        
# print response
print(devide_sub_groups(['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']))
print(devide_sub_groups([1, 2, 3])) # insufficient items of an array 
print(devide_sub_groups([])) # empty array

[['ja0964', 'sa1198', 'sb1357', 'vb0218'], ['sc1229', 'kg0569', 'kg0470', 'sg1297'], ['bg0320', 'fh0141', 'jl1252', 'sk1386'], ['ak0956', 'sk1390', 'sk1458', 'sk1313'], ['ak0934', 'vm0377', 'nm0618', 'sm1640'], ['sm1907', 'gn0108', 'pr0353', 'dr0609'], ['ms1500', 'aos0040', 'ds0814', 'av0659', 'nv0234', 'hy0232']]
Input data is not valid to divide into sub groups as the base criteria is minimum 4 items should be available in the array
Input data is not valid to divide into sub groups as the base criteria is minimum 4 items should be available in the array

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [27]:
# write your answer here
def duplicates_check(num_array):
    my_set = set()
    
    for i in range(len(num_array)):
        if num_array[i] in my_set:
            return num_array[i]
        else:
            my_set.add(num_array[i])
            
    return -1

# print the response
print('Without duplicates:', duplicates_check([1, 2, 0]))
print('With duplicates:',duplicates_check([1, 2, 1]))

Without duplicates: -1
With duplicates: 1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [25]:
# write your answer here
# import required dependencies
from datetime import date, timedelta

# define a function to calculate all available sundays in a given year
def print_all_sundays(year):
    dt = date(year, 1, 1)
    dt += timedelta(days = 6 - dt.weekday())
    while dt.year == year:
        yield dt
        dt += timedelta(days = 7)
        
for sun in print_all_sundays(2022):
    print(sun)

2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25